{% extends 'buyer/base.html' %}

{% block title %}
    购物车
{% endblock %}
{% block content %}
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
    </ul>

    <form action="/Buyer/pay_order_more/">
        {% for g in goods %}
        <ul class="cart_list_td clearfix">
            <li class="col01"><input type="checkbox" class="goods_check" name="check_{{ g.goods_id }}"></li>
            <li class="col02"><img src="/static/{{ g.goods_picture }}"></li>
            <li class="col03">{{ g.goods_name }}<br><em>{{ g.goods_price }}元/500g</em></li>
            <li class="col04">500g</li>
            <li class="col05" id="price">{{ g.goods_price }}元</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" onclick="add({{ g.goods_id }})" class="add fl">+</a>
                    <input type="text" class="num_show fl" id="goods_count_{{ g.goods_id }}" onblur="add1()" value="{{ g.goods_number }}" name="count_{{ g.goods_id }}">
                    <a href="javascript:;" onclick="reduce({{ g.goods_id }})" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07" id="total">{{ g.goods_total}}元</li>
            <li class="col08"><a href="javascript:;">删除</a></li>
        </ul>
        {% endfor %}
        <ul class="settlements">
            <li class="col01"><input type="checkbox" id="allbox" name=""></li>
            <li class="col02">全选</li>
            <li class="col03">合计(不含运费)：<span>¥</span><em>42</em><br>共计<b>{{ count }}</b>件商品</li>
            <li class="col04"><input type="submit" value="去结算" style="display:block;height:78px;width: 167px;border: none;background-color:#ff3d3d;text-align:center;line-height:78px;color:#fff;font-size:24px"></li>
        </ul>
    </form>
{% endblock %}
{% block script %}
    <script>
        $("#allbox").click(
              function () {
                  if (this.checked){
                      $(".goods_check").prop("checked",true)
                  } else{
                      $(".goods_check").prop("checked",false)
                  }
              }
            );
            $(".goods_check").each(
                function () {
                    $(this).click(
                        function () {
                            if (!this.checked){
                                $("#allbox").prop("checked",false)
                            }
                        }
                    )
                }
            );
    </script>
    <script>
        function add(data) {
            var value=parseFloat($("#goods_count_"+data).val());
            var count={{ goods_count }}
            console.log(count);
            value +=1;
            $("#goods_count_"+data).val(value)
        }
        function reduce(data) {
            var value=parseFloat($("#goods_count_"+data).val());
            if (value>1){
                value -=1;
                $("#goods_count_"+data).val(value)
            }else{
                value=1;
                $("#goods_count_"+data).val(value)
            }
        }
    </script>
{% endblock %}